.fields-wrapper
  display: flex
  flex-direction: column

.form-actions
  padding-top: 10px

button.dark
  width: 100%

#recaptcha-container
  display: flex
  justify-content: center
  min-height: 100px
