<form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
  <div class="fields-wrapper">
    <div class="labeled-field">
      <mat-label for="email">Email</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          id="email"
          type="email"
          formControlName="email"
          placeholder="example@email.com"
        />
        <mat-error *ngIf="signInForm.controls['email'].hasError('email')"
          >Email format is invalid</mat-error
        >
        <mat-error *ngIf="signInForm.controls['email'].hasError('required')"
          >Email is required field</mat-error
        >
      </mat-form-field>
    </div>

    <div class="labeled-field">
      <mat-label for="password">Password</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          id="password"
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          placeholder="⁕⁕⁕⁕⁕⁕⁕⁕"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="showPassword = !showPassword"
        >
          <mat-icon class="dark">{{
            showPassword ? "visibility" : "visibility_off"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="signInForm.controls['password'].hasError('minlength')"
          >Password length should be at least 8 characters
        </mat-error>
        <mat-error *ngIf="signInForm.controls['password'].hasError('maxlength')"
          >Password length should not be more than 30 characters
        </mat-error>
        <mat-error *ngIf="signInForm.controls['password'].hasError('pattern')"
          >Password format is invalid
        </mat-error>
        <mat-error *ngIf="signInForm.controls['password'].hasError('required')"
          >Password is required field
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="form-actions">
    <button class="dark" mat-button type="submit">Sign In</button>
  </div>
</form>
