<div class="app-type-container">
  <p class="app-type">Driver App</p>
  <a class="back-to-choosing-app" [href]="['/auth']"
    >Back to choosing app type</a
  >
</div>
<mat-divider></mat-divider>
<mat-tab-group animationDuration="0">
  <mat-tab label="Sign In">
    <div class="form-wrapper">
      <app-sign-in-form [IsPassangerApp]="false"></app-sign-in-form>
    </div>
  </mat-tab>
  <mat-tab label="Sign Up">
    <div class="form-wrapper">
      <app-driver-registration-form></app-driver-registration-form>
    </div>
  </mat-tab>
</mat-tab-group>
