<div class="choose-app-wrapper">
  <h1 class="choose-app-title">Choose app type</h1>
  <mat-divider></mat-divider>
  <div class="app-types-container">
    <div class="app-type-option">
      <p>Continue as a passenger</p>
      <button mat-button (click)="goToPassengerLoginPage()" class="dark">
        User App
      </button>
    </div>
    <div class="app-type-option">
      <p>Continue as a driver</p>
      <button mat-button (click)="goToDriverLoginPage()" class="dark">
        Driver App
      </button>
    </div>
  </div>
</div>
